{% extends "layout.html" %}

{% block title %}
Edit citation
{% endblock %}

{% block body %}

<h1 class="mb-3">Edit citation</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color: red;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/edit_citation/{{ citation.id }}" method="post">
  <div class="row g-2 mb-2">
    <div class="col-md-3">
      <select id="type" name="type" class="form-select form-select-sm" required>
        {% for citation_type in citation_types %}
          <option value="{{ citation_type }}" {% if citation_type == citation.type %}selected{% endif %}>{{ citation_type|capitalize }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-9">
      <input id="title" type="text" name="title" class="form-control form-control-sm" maxlength="200" value="{{ citation.title }}" placeholder="Title" required>
    </div>
  </div>
  <div class="row g-2 mb-2">
    <div class="col-md-8">
      <input id="author" type="text" name="author" class="form-control form-control-sm" maxlength="100" value="{{ citation.author }}" placeholder="Author" required>
    </div>
    <div class="col-md-4">
      <input id="date" type="text" name="date" class="form-control form-control-sm" maxlength="4" value="{{ citation.date }}" placeholder="Year" required>
    </div>
  </div>

  <div id="error_message" style="color: red; margin-top: 8px;"></div>
  <br>
  <div class="d-flex justify-content-end mt-2">
    <button id="submit_button" class="btn btn-primary btn-sm" type="submit" disabled>
      Save changes
    </button>
  </div>
</form>


<script>
  const title = document.getElementById("title");
  const author = document.getElementById("author");
  const date = document.getElementById("date");
  const button = document.getElementById("submit_button");
  const errorbox = document.getElementById("error_message")

  function validate() {
    const t = title.value.trim();
    const a = author.value.trim();
    const d = date.value.trim();

    errorbox.textContent = ""
    button.disabled = true;

    if (!t || !a || !d) {
      errorbox.textContent = "Citation fields cannot be empty";
      return;
    }

    const num = Number(d);
    const currentYear = new Date().getFullYear()
    if (isNaN(num) || num < 1 || num > currentYear || String(d).startsWith("0")) {
      errorbox.textContent = `Year must be between 1 and ${currentYear}!`;
      return;
    }

    button.disabled = false;
  }

  title.addEventListener("input", validate);
  author.addEventListener("input", validate);
  date.addEventListener("input", validate);

  validate();
</script>
{% endblock %}
