{% extends "layout.html" %}

{% block title %}
Citation app
{% endblock %}

{% block body %}

<h1 class="mb-3">Citation app</h1>

<div id="copy-alert"></div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Citations</th>
    </tr>
  </thead>
  <tbody>
    {% for citation in citations %}
      <tr class="table-active">
        <th scope="row">{{ loop.index }}</th>
        <td>
          <a href="{{ url_for('show_citation', citation_id=citation.id) }}">
            {{ citation.title }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="d-flex justify-content-end mt-2">
  <button type="button" class="btn btn-primary" onclick="window.location.href='/new_citation'">
    Create new citation
  </button>
  <button type="button" class="btn btn-primary ms-2" onclick="window.location.href='/downloads'" {% if citations|length == 0 %} disabled {% endif %}>
    Download .bib
  </button>
  <button id="copy_all_button" type="button" class="btn btn-primary ms-2" onclick="copyBibtex()" {% if citations|length == 0 %} disabled {% endif %}>
    Copy to clipboard
  </button>
</div>

<script>
  async function copyBibtex() {
    try {
      const response = await fetch("/copy_bib");
      if (!response.ok) {
        showCopyAlert("Failed to fetch BibTex content.");
        return;
      }

      const text = await response.text();
      await navigator.clipboard.writeText(text);

      showCopyAlert("Bibtex copied to clipboard");      
    } catch (err) {
      console.error(err);
      showCopyAlert("Copy to clipboard failed, browser stuff")
    }
  }

  function showCopyAlert(message) {
    const alertDiv = document.getElementById("copy-alert");
    alertDiv.innerHTML = `
      <div class="alert alert-primary" role="alert">
        ${message}
      </div>
    `;

    setTimeout(() => {
      alertDiv.innerHTML = "";
    }, 3000);
  }
</script>

{% endblock %}
