{% extends "layout.html" %}

{% block title %}
Create a new citation
{% endblock %}

{% block body %}

<h1 class="mb-3">Create a new citation</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="color: red;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/create_citation" method="post">
  <label for="type">Type:</label>
  <select id="type" name="type" required>
    {% for citation_type in citation_types %}
      <option value="{{ citation_type }}">{{ citation_type|capitalize }}</option>
    {% endfor %}
  </select>
  <br><br>
  <label for="content">Citation:</label>
  <input id="title" type="text" name="title" maxlength="200" placeholder="Title" required>
  <input id="author" type="text" name="author" maxlength="100" placeholder="Author" required>
  <input id="date" type="text" name="date" maxlength="4" placeholder="Year" required>
  <div id="error_message" style="color: red; margin-top: 8px;"></div>
  <br>
  <div class="d-flex justify-content-end mt-2">
    <button id="submit_button" class="btn btn-primary" type="submit" disabled>
      Add citation
    </button>
  </div>
</form>

<script>
  const title = document.getElementById("title");
  const author = document.getElementById("author");
  const date = document.getElementById("date");
  const button = document.getElementById("submit_button");
  const errorbox = document.getElementById("error_message")

  function validate() {
    const t = title.value.trim();
    const a = author.value.trim();
    const d = date.value.trim();

    errorbox.textContent = ""
    button.disabled = true;

    if (!t || !a || !d) {
      errorbox.textContent = "Citation fields cannot be empty";
      return;
    }

    const num = Number(d);
    const currentYear = new Date().getFullYear()
    if (isNaN(num) || num < 1 || num > currentYear || String(d).startsWith("0")) {
      errorbox.textContent = `Year must be between 1 and ${currentYear}!`;
      return;
    }

    button.disabled = false;
  }

  title.addEventListener("input", validate);
  author.addEventListener("input", validate);
  date.addEventListener("input", validate);

  validate();
</script>
{% endblock %}
